.page{
    background-color: rgba(41, 36, 36, 0.455);
}
.navbar{
    background-color: rgb(159, 132, 111);
}
.img-pxl{
    width: 240px;
    height: 240px;
}

.table{
    font-family: "Press Start 2P";
}
.thead{
    background-color: rgba(0, 0, 0, 0.945);
}
.tbody{
    background-color: rgba(0, 0, 0, 0.815);
}

th, td{
    color: white;
}

.capsula{
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.adicion{
    display: inline-block;
    background-color: rgb(179, 117, 117);
    vertical-align: middle;
}

.pesos{
    display: inline-block;
    background-color: rgb(160, 160, 102);
    vertical-align: middle;
}

.divtable{
    margin-top: 10%;
    width:80% ;
    height: 100%;
    margin: 0 auto;
    clear: both;
}
.monedas{
    margin: 1%;
    border: 1px solid black;
    width: 10%;
    height: 20%;
}

.coin{
    width: 25px;
    height: 25px;
    float: right;
}
